.button {
  background-color: transparent;
  border: none;
  color: var(--button-color, var(--pf-text-primary));
  cursor: pointer;
  font-size: var(--pf-font-size-body);
}

.button[data-variant='primary'] {
  background-color: var(--pf-accent);
  border-radius: 9999px;
  padding-block: 1rem;
  padding-inline: 2rem;
  text-decoration: none;
}

.button[data-size='large'] {
  font-size: var(--pf-font-size-h4);
  padding-block: 1.5rem;
  padding-inline: 3rem;
}

@media screen and (width < 768px) {
  .button[data-size='large'] {
    padding-block: 1rem;
    padding-inline: 2rem;
  }
}
