@font-face {
  font-family: "Google Sans";
  src: url("/fonts/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-color: rgb(255 255 255);
  --color: rgb(31, 30, 36);

  @media (prefers-color-scheme: dark) {
    --background-color: rgb(31 30 36);
    --color: rgb(255 255 255);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--color);
  font-family: "Google Sans", sans-serif;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
